#in {
    padding: 15px;
    width: 100%;
    font-size: 20px;
}

#operations {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 200px;
    margin-top: 10px;
    border: 1px solid black;
}

#calc {
    display: grid;
    width: 400px;
    grid-template-columns: 400px 40px;
    /* position: absolute; */
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 40px);
}

#basic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 60px);
}

#basic button {
    font-size: 20px;
}

#answer {
}



button {
    margin: 2px;
}