#calc {
	display: grid;
	grid-template-columns: repeat(2, minmax(500px, 1fr));
	grid-template-rows: repeat(2, 100px) 1fr;
    height: 400px;
    max-height: 400px;
	padding: 100px 300px 300px 300px;
}

/* includes both the answer and the input box */
.type-area {
    grid-row: 2/3;
    grid-column: 1/2;
	margin: 2px;
	border: 1px lightblue solid;
    padding: 5px;
    height: 95px;
}
.label{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* input box */
.in {
	padding: 15px;
	width: 100%;
	font-size: 20px;
	max-width: 100%;
	border: 1px lightseagreen solid;
}
.in:focus, button:focus {
	outline: none;
}
/* this includes both the numbers keys and the basic operations */
#operations {
    margin: -1px 2px 2px 2px;
	border: 1px lightseagreen solid;
	grid-row: 3/4;
	grid-column: 1/2;
}
/* this is for the number keys and operations */
#numbers {
    display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(4, 40px);
}

#numbers button:nth-child(n+4):nth-child(-n+6) {
	grid-row: 2;
}
#numbers button:nth-child(n+7):nth-child(-n+9) {
    grid-row: 3;
}
#numbers button:nth-child(n+10):nth-child(-n+12) {
    grid-row: 4;
}
/* this is for the answer box when the answer is displayed */
.answer {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	height: 20px;
    font-size: 20px;
}

/* history div */
#history {
	grid-column: 2/3;
	grid-row: 2/4;
	overflow-y: scroll;
    margin: 2px;
    border: 1px lightblue solid;
}

button {
    font-size: 20px;
    border: none;
    background-color: lightseagreen;
	margin: 2px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}
